* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 144rem;
  padding: 0 1.2rem;
  margin: 0 auto;
}

header {
  height: 10.9rem;
  background: transparent;

  padding: 3.2rem 4rem 3.2rem 4rem;
  background: #4e4b59;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li:not(:last-child) {
  padding-right: 5.6rem;
}

header ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.15px;
}

header ul li button {
  width: 14.7rem;
  height: 4.5rem;
  flex-shrink: 0;

  margin-left: 0.7rem;

  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;

  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.15px;

  background: #4e4b59;
}

header .menu-mobile {
  display: none;
}

.home {
  background: #4e4b59;
  padding: 2.6rem 4rem 0 4rem;
}

.home .container {
  display: flex;

  justify-content: space-between;
}

.content span {
  color: #c6c5ce;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.content h1 {
  max-width: 70.9rem;

  padding-top: 2.1rem;
  padding-bottom: 4.4rem;

  color: #fff;
  font-family: 'PT Sans';
  font-size: 64px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -1.28px;
}

.content form {
  width: 48.9rem;
  height: 7.2rem;

  display: flex;

  flex-shrink: 0;
  border-radius: 7px;
  background: #7a7786;
}

.content form input {
  width: 36rem;
  background: transparent;
}

.content form input::placeholder {
  padding-left: 2.3rem;

  color: #e1e0e7;
  font-size: 16px;
  font-weight: 400;
}

.content form button {
  width: 133px;
  height: 45px;
  flex-shrink: 0;

  margin: 1.6rem 1.4rem 1.6rem 1.4rem;

  color: #5f5c6b;
  text-align: center;
  justify-content: center;
  font-family: 'PT Sans';
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.15px;
  transition: background 0.3s ease;
}

.content form button:hover {
  background-color: #e1e0e7;
}

.ilustration img {
  max-width: 61.9rem;
}

.information {
  padding-top: 3.6rem;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.information p {
  color: #c6c5ce;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.enterprises {
  max-width: 144rem;
}

.enterprises .container {
  display: flex;
  justify-content: space-between;
}

.enterprises .companies {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 2rem 4rem;
}

.enterprises button {
  position: relative;
  left: 3.7rem;

  background-color: #4e4b59;

  padding: 0 10rem;

  display: flex;
  margin: 0 auto;

  align-items: center;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  header {
    padding: 1.2rem 2rem 1.2rem 2rem;
  }
}

@media (max-width: 768px) {
  header ul {
    display: none;
  }

  header .menu-mobile {
    display: block;
  }
}

@media (max-width: 560px) {
}

@media (max-width: 375px) {
  header {
    padding: 1rem 2rem 1rem 2rem;
    height: 5.9rem;
  }

  header .container .logo {
    max-width: 12rem;
  }
}
