* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

header {
  border-bottom: 1px solid #edeafa;

  padding: 2.8rem 0;
}

.container {
  width: 100%;
  max-width: 144rem;
  padding: 0 11.2rem;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li a {
  color: #7a7786;
  text-align: right;
  font-size: 14px;
  font-weight: 500;

  margin-right: 3.4rem;
}

header ul li button {
  width: 176px;
  height: 48px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
  background: #f1f0f5;

  color: #5f5c6b;
  transition: background 0.3s ease;
}

header ul li button:hover {
  background-color: #cecdd6;
}

header ul li button img {
  margin-right: 0.8rem;
}

header .menu-mobile {
  display: none;
}

.home {
  width: 100%;
  max-width: 144rem;

  padding-top: 5.6rem;
}

.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .text h1 {
  max-width: 58.6rem;

  color: #4e4b59;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.48px;
}

.home .text p {
  max-width: 46.3rem;

  color: #5f5c6b;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;

  margin-top: 1.6rem;
}

.home .text button {
  width: 208px;
  height: 52px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.2rem;

  color: #fff;
  background: #4e4b59;
  margin-top: 5.2rem;

  transition: background 0.3s ease;
}

.home .text button:hover {
  background-color: #6a6777;
}

.services {
  padding-top: 107.61px;
}

.services ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ilustrations {
  padding-top: 8.5rem;
}

@media (max-width: 991px) {
  .container {
    padding: 0 2rem;
  }

  .home .container {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .home .text h1 {
    text-align: center;
    margin: 0 auto;
  }

  .home .text p {
    text-align: center;
    margin: 0 auto;

    margin-top: 1.8rem;
  }

  .home .text button {
    margin: 0 auto;

    margin-top: 3.8rem;
  }

  .home .ilustration img {
    padding-top: 7.8rem;
  }

  .services ul {
    gap: 1.8rem;
  }
}

@media (max-width: 560px) {
  header .menu-mobile {
    display: block;
  }

  header ul {
    display: none;
  }
}

@media (max-width: 375px) {
  .services ul {
    display: grid;

    justify-content: center;
    gap: 5rem;
    margin: 0 auto;
  }

  .services ul li img {
    width: 18rem;
  }
}
