* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 144rem;
  padding: 0 1.2rem;
  margin: 0 auto;
}

header {
  padding: 3rem 6rem 0 6rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.6rem;
}

header ul li a {
  color: #7a7786;
  text-align: right;
  font-size: 14px;

  font-weight: 400;
  letter-spacing: -0.14px;
}

header ul li a:hover {
  color: #acaab3;
}

header ul li:last-child {
  padding-left: 1.1rem;
}

header ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li a img {
  padding-right: 1.1rem;
}

header .menu-mobile {
  display: none;
}

.home {
  height: 65.5rem;
  padding: 5.3rem 6rem 0 6rem;
}

.home .container {
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
}

.content span {
  display: inline-flex;
  padding: 4px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 120px;
  background: #f1f0f5;

  color: #7a7786;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 2.08px;
}

.content h1 {
  padding-top: 2.9rem;

  max-width: 59.2rem;

  color: #4e4b59;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
}

.content ul {
  padding-top: 3.4rem;
  padding-bottom: 2rem;
}

.content ul li {
  display: flex;
  align-items: center;
  gap: 1.8rem;

  padding-bottom: 2.4rem;
}

.content ul li p {
  color: #7a7786;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.08px;
}

.btn-downloads {
  display: flex;
  gap: 1.6rem;
}

.ilustration img {
  max-width: 665px;
}

@media (max-width: 1220px) {
  header {
    padding: 3rem 6rem 0 6rem;
  }

  .home {
    padding: 4.3rem 6rem 0 6rem;
  }

  .ilustration {
    max-width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .content h1 {
    font-size: 4.3rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 3rem 4rem 0 4rem;
  }

  .content h1 {
    font-size: 4rem;
  }

  .content ul li {
    font-size: 1.2rem;
  }

  .ilustration {
    max-width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .ilustration img {
    max-width: 520px;
  }
}

@media (max-width: 768px) {
  header ul {
    display: none;
  }

  header .menu-mobile {
    display: block;
  }

  .home .container {
    display: grid;
  }

  .content h1 {
    text-align: center;
  }

  .content ul li {
    justify-content: center;
  }

  .btn-downloads {
    align-items: center;
    justify-content: center;
    padding-bottom: 5.5rem;
  }
}

@media (max-width: 375px) {
  header {
    max-width: 37.5rem;
    padding: 3rem 1rem 0 1rem;
  }

  .home {
    padding: 4.3rem 1rem 0 1rem;
  }

  .content h1 {
    max-width: 31.8rem;

    font-size: 2.6rem;
  }

  .ilustration img {
    max-width: 350px;
  }
}
