* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;

  background: url(../img/bg-hero.png) no-repeat center center;
  background-size: cover;

  font-family: 'Inter', sans-serif;
  color: #fff;
}

html,
body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
