header {
  position: sticky;
  top: 1.6rem;
  z-index: 999;

  margin-top: 1.6rem;

  .content {
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3.5px);

    @include flexCenterJustify;
    padding: 0.8rem 0.8rem 0.8rem 2.1rem;

    ul {
      @include flex-center;
      gap: 6.6rem;

      li {
        position: relative;

        a {
          color: $color-gray;
          font-family: 'Inter';
          font-size: 1.6rem;
          font-weight: 500;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(100% + 10px);
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          background-image: url('../img/h-trianguler.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
