* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
  border: none;

  &[disabled] {
    cursor: not-allowed;
  }
}

ul {
  list-style: none;
}
